In [2]:
import pandas as pd
import numpy as np

In [46]:
# Series: 1D labeled array
s = pd.Series([1,2,3] , index=['a','b','c'])
print(s)
print()

# DataFrame: 2D labeled array
df = pd.DataFrame(s , columns=['a'])
print(df)
print()
df2 = pd.DataFrame({'a':[1,2,3],'b':[2,3,4],'c':[3,4,5]})
print(df2)
print()
df3 = pd.DataFrame([[1,2,3] , [1,2,3]], columns=['a','b','c'] , index=['first' , 'second'])
print(df3)
print()

a    1
b    2
c    3
dtype: int64

   a
a  1
b  2
c  3

   a  b  c
0  1  2  3
1  2  3  4
2  3  4  5

        a  b  c
first   1  2  3
second  1  2  3

In [47]:
df = pd.DataFrame(np.random.randn(5, 5), columns=list('ABCDE'))
df.head()        # First 5 rows
df.tail(3)       # Last 3 rows
df.shape         # Rows and columns
# df.info()        # Summary of data
df.describe()    # Statistical summary
df.dtypes        # Data types of columns
df.columns       # Column names
df.index         # Row index

RangeIndex(start=0, stop=5, step=1)

In [57]:
df = pd.DataFrame(np.random.randn(5, 5), columns=list('ABCDE') )
print(df)
df['A']         # Column A
df.loc[0, 'A']  # Specific value
df.loc[:, ['A', 'B']]  # Specific columns

          A         B         C         D         E
0 -0.461977 -0.414969  1.930163  0.039470 -0.043950
1 -0.454540  0.014378 -1.714779 -0.096908  0.884550
2  0.532898 -0.416795 -0.973259  1.350221 -0.631100
3  0.129646 -0.055805  1.401889  0.997559 -0.025303
4  0.134834 -0.597136 -0.770856 -0.533751  1.794619

          A         B
0 -0.461977 -0.414969
1 -0.454540  0.014378
2  0.532898 -0.416795
3  0.129646 -0.055805
4  0.134834 -0.597136

In [61]:
df.iloc[0]      # First row
df.iloc[:, 1]   # Second column
df.iloc[1:3, 0:2]  # Subset

          A         B
1 -0.454540  0.014378
2  0.532898 -0.416795

In [70]:
print(df)
df[df['A'] > 0]            # Rows where column A > 0
df[(df['A'] > 0) & (df['B'] < 5)]  # Multiple conditions
df.query('A > 0 and B < 5')        # Using query

          A         B         C         D         E
0 -0.461977 -0.414969  1.930163  0.039470 -0.043950
1 -0.454540  0.014378 -1.714779 -0.096908  0.884550
2  0.532898 -0.416795 -0.973259  1.350221 -0.631100
3  0.129646 -0.055805  1.401889  0.997559 -0.025303
4  0.134834 -0.597136 -0.770856 -0.533751  1.794619

          A         B         C         D         E
2  0.532898 -0.416795 -0.973259  1.350221 -0.631100
3  0.129646 -0.055805  1.401889  0.997559 -0.025303
4  0.134834 -0.597136 -0.770856 -0.533751  1.794619

In [ ]:
df['C'] = df['A'] + df['B']  # Add new column
df['D'] = df['A'].apply(np.log)  # Apply function
df['E'] = df['A'].map(lambda x: x**2)  # Map function
df.drop('C', axis=1, inplace=True)  # Drop column
df.drop([0, 1], axis=0)  # Drop rows
print(df)

          A         B         D         E
2  0.532898 -0.416795 -0.629425  0.283980
3  0.129646 -0.055805 -2.042945  0.016808
4  0.134834 -0.597136 -2.003713  0.018180

In [34]:
df  = pd.DataFrame(np.random.randn(5, 5), columns=list('ABCDE'))
df.insert(0, 'F', [1, 2, 3, np.nan, np.nan])
df.isnull()       # Check for missing values
df.dropna()       # Drop rows with NaN
df.fillna(0)      # Replace NaN with 0
df.fillna(df.mean())  # Replace NaN with column mean

     F         A         B         C         D         E
0  1.0  0.540376 -1.280188  1.701983  0.517091  0.330268
1  2.0 -0.764399 -0.648663 -0.353799 -0.599805  0.384332
2  3.0 -0.296734 -1.339935  0.026800  0.439227  0.237853
3  2.0  1.339459 -0.350264  0.320431 -0.156415 -0.228266
4  2.0  1.674103 -0.721266  0.409319  1.160963 -0.899873

## Sorting

In [44]:
df.sort_values(by='A', ascending=True)  # Sort by column A
df.sort_index()                          # Sort by index

     F         A         B         C         D         E
0  1.0  0.540376 -1.280188  1.701983  0.517091  0.330268
1  2.0 -0.764399 -0.648663 -0.353799 -0.599805  0.384332
2  3.0 -0.296734 -1.339935  0.026800  0.439227  0.237853
3  NaN  1.339459 -0.350264  0.320431 -0.156415 -0.228266
4  NaN  1.674103 -0.721266  0.409319  1.160963 -0.899873

## Aggregations and Grouping

In [48]:
df.sum()           # Sum of each column
df.mean()          # Mean of each column
df.groupby('A').sum()  # Group by column A and sum

             F         B         C         D         E
A
-0.764399  2.0 -0.648663 -0.353799 -0.599805  0.384332
-0.296734  3.0 -1.339935  0.026800  0.439227  0.237853
 0.540376  1.0 -1.280188  1.701983  0.517091  0.330268
 1.339459  0.0 -0.350264  0.320431 -0.156415 -0.228266
 1.674103  0.0 -0.721266  0.409319  1.160963 -0.899873

## Concatenate DataFrames

In [63]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
}, index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
}, index=[0, 1, 2, 3])
pd.concat([df1, df2], axis=0)  # Vertical
pd.concat([df1, df2], axis=1)  # Horizontal

    A   B   C   A   B   C
0  A0  B0  C0  A4  B4  C4
1  A1  B1  C1  A5  B5  C5
2  A2  B2  C2  A6  B6  C6
3  A3  B3  C3  A7  B7  C7

## Merge

In [79]:
df1 = pd.DataFrame({  
    'key': ['A', 'B', 'C'],  
    'value1': [1, 2, 3]  
})  

print(df1)

df2 = pd.DataFrame({  
    'key': ['B', 'C', 'D'],  
    'value2': [4, 5, 6]  
})  

# Merging DataFrames using an inner join  
merged_df = pd.merge(df1, df2, on='key')  
print(merged_df)

  key  value1
0   A       1
1   B       2
2   C       3
  key  value1  value2
0   B       2       4
1   C       3       5

## Join

> You can choose merge() for more complex operations involving column keys and join() for simpler index-based operations.

In [74]:
# Creating DataFrames with a common index  
df1 = pd.DataFrame({  
    'value1': [1, 2, 3]  
}, index=['A', 'B', 'C'])  
print(df1)
df2 = pd.DataFrame({  
    'value2': [4, 5, 6]  
}, index=['B', 'C', 'D'])  

# Joining DataFrames  
joined_df = df1.join(df2, how='inner')  
print(joined_df)

   value1
A       1
B       2
C       3
   value1  value2
B       2       4
C       3       5

## Reading/Writing Files

In [ ]:
pd.read_csv('file.csv')          # Read CSV
df.to_csv('file.csv', index=False)  # Write CSV

pd.read_excel('file.xlsx')       # Read Excel
df.to_excel('file.xlsx', index=False)  # Write Excel

pd.read_json('file.json')        # Read JSON
df.to_json('file.json')          # Write JSON

In [88]:
data = {  
    'Date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02'],  
    'Category': ['A', 'B', 'A', 'B'],  
    'Sales': [100, 200, 150, 250]  
}  

df = pd.DataFrame(data)  

# Creating a pivot table  
pivot_table = pd.pivot_table(df, values='Sales', index='Date', columns='Category', aggfunc='sum', fill_value=0)  

print(pivot_table)

Category      A    B
Date
2024-01-01  100  200
2024-01-02  150  250

In [109]:
data = {  
    'A': [1, 2, 2, 3, 3, 4, 5, 1, 6, 7],  
    'B': ['apple', 'banana', 'banana', 'cherry', 'cherry', 'date', 'fig', 'apple', 'grape', 'honeydew'],  
    'C': [10.5, 20.5, 20.5, 30.0, 30.0, 40.0, 50.1, 10.5, 60.3, 70.2],  
    'D': [True, False, False, True, True, False, True, True, False, True]  
}  

df = pd.DataFrame(data)  

# Display the DataFrame  
print("Original DataFrame:")  
print(df)

df.duplicated()    # Check for duplicate rows
df.drop_duplicates()  # Remove duplicates
df.sample(5)       # Random sample of rows
df.nunique()       # Count unique values per column

# print(df)

Original DataFrame:
   A         B     C      D
0  1     apple  10.5   True
1  2    banana  20.5  False
2  2    banana  20.5  False
3  3    cherry  30.0   True
4  3    cherry  30.0   True
5  4      date  40.0  False
6  5       fig  50.1   True
7  1     apple  10.5   True
8  6     grape  60.3  False
9  7  honeydew  70.2   True
   A         B     C      D
0  1     apple  10.5   True
1  2    banana  20.5  False
2  2    banana  20.5  False
3  3    cherry  30.0   True
4  3    cherry  30.0   True
5  4      date  40.0  False
6  5       fig  50.1   True
7  1     apple  10.5   True
8  6     grape  60.3  False
9  7  honeydew  70.2   True

In [110]:
# Creating a sample DataFrame  
data = {  
    'A': [1, 2, 3, 4, 5],  
    'B': [5, 4, 3, 2, 1],  
    'C': [2, 3, 4, 5, 6],  
    'D': [10, 22, 30, 23, 39]  
}  

df = pd.DataFrame(data)  

print("Original DataFrame:")  
print(df)  
# Calculate the correlation matrix  
correlation_matrix = df.corr()  
print("\nCorrelation Matrix:")  
print(correlation_matrix)

Original DataFrame:
   A  B  C   D
0  1  5  2  10
1  2  4  3  22
2  3  3  4  30
3  4  2  5  23
4  5  1  6  39

Correlation Matrix:
          A         B         C         D
A  1.000000 -1.000000  1.000000  0.871044
B -1.000000  1.000000 -1.000000 -0.871044
C  1.000000 -1.000000  1.000000  0.871044
D  0.871044 -0.871044  0.871044  1.000000

## MultiIndex DataFrames

In [116]:
# Create MultiIndex DataFrame
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_tuples(list(zip(*arrays)))
df = pd.DataFrame(np.random.randn(4, 2), index=index, columns=['C1', 'C2'])
df
# Access MultiIndex data
df.loc['A']           # Get all rows with outer index 'A'
df.loc[('A', 'one')]  # Specific row
df.reset_index()      # Flatten the MultiIndex

  level_0 level_1        C1        C2
0       A     one  0.897404 -0.949161
1       A     two -1.912624  0.129652
2       B     one  1.958646 -1.326746
3       B     two  0.582637  0.171620

## Stack/Unstack

In [117]:

# Sample data  
data = {  
    'A': [1, 2, 3],  
    'B': [4, 5, 6]  
}  
index = pd.MultiIndex.from_tuples([('x', 1), ('x', 2), ('y', 1)], names=['letters', 'numbers'])  
df = pd.DataFrame(data, index=index)  

# df before unstacking  
print("Original DataFrame:")  
print(df)  

# Convert to wide format  
df_unstacked = df.unstack()  
print("\nUnstacked DataFrame (Wide format):")  
print(df_unstacked)  

# Convert back to long format  
df_stacked = df_unstacked.stack()  
print("\nStacked DataFrame (Back to Long format):")  
print(df_stacked)

Original DataFrame:
                 A  B
letters numbers
x       1        1  4
        2        2  5
y       1        3  6

Unstacked DataFrame (Wide format):
           A         B
numbers    1    2    1    2
letters
x        1.0  2.0  4.0  5.0
y        3.0  NaN  6.0  NaN

Stacked DataFrame (Back to Long format):
                   A    B
letters numbers
x       1        1.0  4.0
        2        2.0  5.0
y       1        3.0  6.0

C:\Users\User\AppData\Local\Temp\ipykernel_9352\308130640.py:19: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df_stacked = df_unstacked.stack()

In [127]:

data = {  
    'A': ['foo', 'bar', 'foo', 'bar', 'foo']  
}  

df = pd.DataFrame(data)  
print(df)

# Convert column 'A' to category  
df['Category'] = df['A'].astype('category')  

print(df)

numeric_data = {  
    'A': [1, 4, 6, 10, 15, 22]  
}  

df = pd.DataFrame(numeric_data)
df['Category'] = pd.cut(df['A'], bins=[0, 5, 10, 20], labels=['Low', 'Medium', 'High'])

print(df)

     A
0  foo
1  bar
2  foo
3  bar
4  foo
     A Category
0  foo      foo
1  bar      bar
2  foo      foo
3  bar      bar
4  foo      foo
    A Category
0   1      Low
1   4      Low
2   6   Medium
3  10   Medium
4  15     High
5  22      NaN

In [143]:

data = {  
    'Date': ['2024-01-01', '2024-01-02', '2024-01-03'],  
    'Value': [10, 20, 30]  
}  

df = pd.DataFrame(data)  

# Convert 'Date' to datetime  
df['Date'] = pd.to_datetime(df['Date'])  
print(df)  
df.set_index('Date', inplace=True)  # Set datetime index
print(df)
monthly_avg = df.resample('ME').mean()  # Monthly average
print(monthly_avg)
weekly_sum = df.resample('W').sum()  # Weekly sum
print(weekly_sum)

        Date  Value
0 2024-01-01     10
1 2024-01-02     20
2 2024-01-03     30
            Value
Date
2024-01-01     10
2024-01-02     20
2024-01-03     30
            Value
Date
2024-01-31   20.0
            Value
Date
2024-01-07     60