In [17]:
list1 = [1, 5, 3, 4, 5]
list1.sort()
list1.reverse()
print(list1)

[5, 5, 4, 3, 1]

In [71]:
t1 = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
t2 = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin','Juillet', 'Août',
'Septembre', 'Octobre', 'Novembre', 'Décembre']
t3 = []
i = 0
n=len(t1)
while i < n:
    t3=t3+[t2[i]]
    t3=t3+[t1[i]]
    i = i + 1

print(t3)

['Janvier', 31, 'Février', 28, 'Mars', 31, 'Avril', 30, 'Mai', 31, 'Juin', 30, 'Juillet', 31, 'Août', 31, 'Septembre', 30, 'Octobre', 31, 'Novembre', 30, 'Décembre', 31]

In [74]:
list1 = ['janvier' , 'fevrier']
list2 = []
list3 = [30,28]
n = 0
while n < len(list1):
    list2 = list2 + [n+1 , list1[n] + f' {list3[n]}']
    n = n + 1
n = 0
for i in range(1 , len(list2), 2):
    list2[i] = list2[i] + f' {list3[n]}1'
    n += 1
    
print(list2)

[1, 'janvier 30 301', 2, 'fevrier 28 281']

In [69]:
t= ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin','Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre',
'Décembre']
i = 0;t1=[]; n=len(t)
while i < n:#on construit tout d'abord une nouvelle liste t1 en ajoutant les numéros des mois à t
    t1.extend([i+1,t[i]])
    i+=1
print(t1)
t1[3:4]=["Février 28"]#on remplace tout d'abord ce cas particulier
for i in range(1,25,2):#maintenant i localise les mois et i-1 localise leurs numéros dans la liste t1

    if i==3 : continue #février est déjà traité donc continuer vers mars
    n=t1[i-1]#prendre le numéro du mois t1[i-1]
    if n%2:
        t1[i:i+1]=[t1[i]+str(' 30')]#on remplace le nom du mois t1[i] avec lui même concaténé avec 30

    else:

        t1[i:i+1]=[t1[i]+str(' 31')]

t=t1
print(t)

[1, 'Janvier', 2, 'Février', 3, 'Mars', 4, 'Avril', 5, 'Mai', 6, 'Juin', 7, 'Juillet', 8, 'Août', 9, 'Septembre', 10, 'Octobre', 11, 'Novembre', 12, 'Décembre']
[1, 'Janvier 30', 2, 'Février 28', 3, 'Mars 30', 4, 'Avril 31', 5, 'Mai 30', 6, 'Juin 31', 7, 'Juillet 30', 8, 'Août 31', 9, 'Septembre 30', 10, 'Octobre 31', 11, 'Novembre 30', 12, 'Décembre 31']

In [ ]:
chain = "Bonjour tout le monde"
list1 = chain.split(" ")
chain = " ".join(list1)

print(chain)

['Bonjour', 'out le monde']

In [97]:
s2 = set("abracadabra")
s2

{'a', 'b', 'c', 'd', 'r'}

In [109]:
s = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}
s3 = s.union(s2)
print(s3)
s.intersection(s3)

{1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5}

In [128]:

print("##recherche des joueurs d'une équipe##")
dic = {"nom":"Dupont","prenom":"Jean","age":30,"ville":"Paris","nom_equipe":"psg"}
dic1 = {"nom":"Durand","prenom":"Pierre","age":25,"ville":"Lyon","nom_equipe":"psg"}

liste_joueurs = [dic]
liste_joueurs.append(dic1)
nomeq=input("Donner le nom d'équipe")
lst=[]#liste des joueurs de même équipe vide maintenant
for joueur in liste_joueurs:
    if nomeq==joueur["nom_equipe"]:
        lst.append(joueur.get("nom")+" "+joueur.get("prenom"))

if len(lst)>0 :
    print("Les joueurs de l'équipe :",nomeq," sont :",lst)
else:
    print("Aucun joueur trouvé pour l'équipe ",nomeq)

##recherche des joueurs d'une équipe##
Les joueurs de l'équipe : psg  sont : ['Dupont Jean', 'Durand Pierre']

In [130]:
def fct1(liste,x):
    liste+=[x] #modification
    x+=2 # modification de x
lst=[]
x=1
fct1(lst,x)
print('lst=',lst,'et x=',x)

lst= [1] et x= 1

In [135]:
def changeCar(chaine, car1, car2, debut =0, fin =-1):

    chaine2=chaine[debut:fin]
    chaine2=chaine2.replace(car1,car2)
    print(type(chaine2))
    chaine3=chaine[:debut]+chaine2
    print(type(chaine3))
    return chaine3

print(changeCar("aaaaaaaaaaaaaaaaaaa",'a','b',1))

<class 'str'>
<class 'str'>
abbbbbbbbbbbbbbbbb

In [15]:
str(4) == 4

False